body {
  background-color: #6f080835;
  font-family: "Roboto", sans-serif;
}
/* header {
  background-color: #c12443;
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  background-color: #389bfe;
  color: rgb(210, 9, 9);
  padding: 20px 0;
}  */