<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">«Не здох и ладно»</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% for item in main_menu %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == item.url %}active{% endif %}" 
                        href="{{ item.url }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            
            <ul class="navbar-nav">

            {% if user.is_authenticated %}

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i> {{ user.username }}
                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li><a class="dropdown-item" href="{% url 'profile_detail' %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Редактировать профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Выход</button>
                        </form>
                    </li>
                </ul>
                    
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Вход
                    </a>    
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="bi bi-person-plus"></i> Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>