{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">

                <div class="card-header bg-warning">
                    <h4>Установка нового пароля</h4>
                </div>

                <div class="card-body">
                    {% if validlink %}

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Сохранить пароль</button>
                        </form>

                    {% else %}
                        <p>Ссылка недействительна. Запросите новую.</p>
                        <a href="{% url 'password_reset' %}" class="btn btn-primary">Получить новую ссылку</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}