{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">  
            <div class="card">

                <div class="card-header bg-success text-white">
                    <h4>Письмо отправлено</h4>
                </div>

                <div class="card-body">
                    <p>Письмо для востановления пароля отправлено на вашу почту.</p>
                    <a href="{% url 'landing' %}" class="btn btn-secondary">На начальную страницу</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}