{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Список заявок</h1>
<table class="table">

    <thead>
        <tr>
            <th>Клиент</th>
            <th>Телефон</th>
            <th>Статус</th>
            <th>Дата создания</th>
        </tr>
    </thead>

    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.client_name }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.date_created|date:"d.m.Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}